language: python
python:
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.6"
cache: pip
# command to install dependencies
install:
  - pip install -r requirements.txt
script:
  - python3 -m unittest test narma10_prediction.py