# This is an implicit value, here for clarity
--index-url https://pypi.python.org/simple/
future
python==3.9
numpy==1.21
scipy==1.10
scikit-learn
matplotlib
torch==1.13.1
torchvision==0.11
networkx
tqdm
