# This is an implicit value, here for clarity
--index-url https://pypi.python.org/simple/
sphinx_bootstrap_theme
future
numpy>=1.19.2
scipy>=1.5.2
scikit-learn
matplotlib
torch>=1.7.0
torchvision>=0.8.1
networkx
tqdm