# This is an implicit value, here for clarity
--index-url https://pypi.python.org/simple/
sphinx_bootstrap_theme
future
numpy>=1.18.3
scipy
scikit-learn
matplotlib
torch==1.6.0
torchvision==0.6.0
networkx
tqdm
itertools