{%- set external_urls = {
  'github': 'https://github.com/nschaetti/EchoTorch',
  'github_issues': 'https://github.com/nschaetti/EchoTorch/issues',
  'contributing': 'https://github.com/pytorch/pytorch/blob/master/CONTRIBUTING.md',
  'docs': 'https://pytorch.org/docs/stable/index.html',
  'twitter': 'https://twitter.com/pytorch',
  'facebook': 'https://www.facebook.com/pytorch',
  'slack': 'https://pytorch.slack.com',
  'discuss': 'https://discuss.pytorch.org',
  'tutorials': 'https://nschaetti.github.io/echotorch.github.io/tutorials/index',
  'previous_pytorch_versions': 'https://pytorch.org/previous-versions/',
  'home': 'https://pytorch.org/',
  'get_started': 'https://nschaetti.github.io/echotorch.github.io/getting_started',
  'features': 'https://pytorch.org/features',
  'ecosystem': 'https://pytorch.org/ecosystem',
  'blog': 'https://pytorch.org/blog/',
  'resources': 'https://pytorch.org/resources',
  'support': 'https://pytorch.org/support',
  'mobile': 'https://pytorch.org/mobile',
  'hub': 'https://pytorch.org/hub',
  'youtube': 'https://www.youtube.com/pytorch',
  'brand_guidelines': 'https://pytorch.org/assets/brand-guidelines/PyTorch-Brand-Guidelines.pdf',
  'community': 'https://pytorch.org/#community-module',
  'forums': 'https://discuss.pytorch.org/',
  'audio': 'https://pytorch.org/audio/stable/index.html',
  'text': 'https://pytorch.org/text/stable/index.html',
  'vision': 'https://pytorch.org/vision/stable/index.html',
  'elastic': 'https://pytorch.org/elastic/',
  'serve': 'https://pytorch.org/serve/',
  'xla': 'https://pytorch.org/xla'
}
-%}
