{%- set external_urls = {
  'github': 'https://github.com/nschaetti/EchoTorch',
  'github_issues': 'https://github.com/nschaetti/EchoTorch/issues',
  'contributing': 'https://github.com/echotorch/echotorch/blob/master/CONTRIBUTING.md',
  'docs': 'https://echotorch.readthedocs.io/en/stable/',
  'twitter': 'https://twitter.com/echotorch',
  'facebook': 'https://www.facebook.com/echotorch',
  'slack': 'https://discord.gg/dQZkCzvDTm',
  'discord': 'https://discord.gg/dQZkCzvDTm',
  'discuss': 'https://discuss.pytorch.org',
  'tutorials': 'https://nschaetti.github.io/echotorch.github.io/tutorials/index',
  'previous_pytorch_versions': 'https://pytorch.org/previous-versions/',
  'home': 'https://nschaetti.github.io/echotorch.github.io/',
  'get_started': 'https://nschaetti.github.io/echotorch.github.io/getting_started',
  'features': 'https://nschaetti.github.io/echotorch.github.io/features',
  'ecosystem': 'https://pytorch.org/ecosystem',
  'blog': 'https://pytorch.org/blog/',
  'resources': 'https://nschaetti.github.io/echotorch.github.io/',
  'support': 'https://nschaetti.github.io/echotorch.github.io/support',
  'mobile': 'https://pytorch.org/mobile',
  'hub': 'https://nschaetti.github.io/echotorch.github.io/hub',
  'youtube': 'https://www.youtube.com/ArtificialisCode',
  'brand_guidelines': 'https://pytorch.org/assets/brand-guidelines/PyTorch-Brand-Guidelines.pdf',
  'community': 'https://discord.gg/dQZkCzvDTm',
  'forums': 'https://discord.gg/dQZkCzvDTm',
  'audio': 'https://pytorch.org/audio/stable/index.html',
  'cognitivelab': 'https://nschaetti.github.io/cognitivelab.github.io/',
  'text': 'https://pytorch.org/text/stable/index.html',
  'vision': 'https://pytorch.org/vision/stable/index.html',
  'elastic': 'https://pytorch.org/elastic/',
  'serve': 'https://pytorch.org/serve/',
  'xla': 'https://pytorch.org/xla'
}
-%}
